* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 3em;
}

.calc-buttons {
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin: 0 10%;
}

.display {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  height: 10vh;
  font-size: 2.5em;
  margin: 0 10%;
}

.previous-operand,
.current-operand {
  width: 100%;
}